---
interface Props {
  variant?: "outline" | "solid";
  color?: string;
}

const { variant = "outline", color = "blue" } = Astro.props;
const classList = {
  outline: variant == "outline",
  solid: variant == "solid",
};
---

<button class:list={classList}><slot /></button>

<style define:vars={{ color }}>
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  button:active {
    outline: 1px solid var(--color);
    color: var(--color);
  }

  .outline {
    border: 1px solid var(--color);
    background-color: transparent;
  }

  .solid {
    border: 1px solid var(--color);
    background-color: var(--color);
    color: white;
  }

  .solid:active {
    border-color: white;
    color: white;
  }
</style>
