<div class="chart_container"><canvas id="chart"></canvas></div>

<script>
  import Chart from "chart.js/auto";

  const ctx = document.getElementById("chart") as HTMLCanvasElement;
  let chart = new Chart(ctx, {
    data: {
      labels: Array(10).fill(" "),
      datasets: [
        {
          type: "bar",
          data: Array(10).fill(0),
          backgroundColor: "blue",
        },
        {
          type: "line",
          data: Array(10).fill(0),
          pointStyle: false,
          borderColor: "red",
          borderWidth: 0,
          borderDash: [2, 4],
          tension: 0.25,
        },
      ],
    },
    options: {
      plugins: {
        legend: {
          display: false,
        },
      },
      scales: {
        x: {
          grid: {
            display: false,
          },
        },
        y: {
          display: false,
        },
      },
    },
  });

  document.addEventListener("update-data", (e) => {
    type Histogram = {
      data: Array<number>;
      min: number;
      max: number;
      mean: number;
      stdev: number;
      guassian: Array<number>;
    };
    const histogram = (e as CustomEvent).detail as Histogram;
    // console.log(histogram);
    if (histogram.data.length === 0) {
      let n = chart.data.datasets[0].data.length;
      chart.data.datasets[0].data = Array(n).fill(0);
      chart.data.datasets[1].data = Array(n).fill(0);
      setTimeout(() => {
        chart.data.labels = Array(10).fill(" ");
        chart.data.datasets[0].data = Array(10).fill(0);
        chart.data.datasets[1].data = Array(10).fill(0);
        chart.data.datasets[1].borderWidth = 0;
        chart.update();
      }, 800);
    } else {
      const data = histogram.data;
      const guassian = histogram.guassian;
      let r = data
        .map((_, i) => (data[i] - guassian[i]) ** 2)
        .reduce((acc, cur) => acc + cur, 0);
      chart.data.labels = Array.from(
        { length: data.length },
        (_, i) => i + histogram.min
      );
      chart.data.datasets[0].data = data;
      chart.data.datasets[1].data = guassian;
      if (r < 0.001) {
        chart.data.datasets[1].borderWidth = 2;
      }
    }
    chart.update();
  });
</script>

<style>
  .chart_container {
    height: 100%;
    flex: 1;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
