:root {
  --nmisa-green: #016836;
  --nmisa-gold: #c48a10;

  --background-color: #eee;
  --border-color: #666;
  --disabled-color: #999;
  --primary-color: #016836;
  --secondary-color: #c48a10;
  --text-color: #1e1e1e;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.375rem;
}
