section.chart {
    flex-grow: 1;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 0px;

    .bar {
        background-color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        width: 100%;
    }
}
