:root {
    --nmisa-green: #016836;
    --nmisa-gold: #c48a10;

    --background-color: #eee;
    --border-color: #666;
    --disabled-color: #999;
    --primary-color: #016836;
    --secondary-color: #c48a10;
    --text-color: #1e1e1e;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.375rem;
}

main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 0.25lh;
    height: 100vh;
    max-height: 100vh;
}

section.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;

    padding: 0.5rem;
}

button {
    border: 2px solid var(--primary-color);
    border-radius: 0.5lh;
    color: var(--text-color);
    padding: 0.3lh 3ch;

    &.filled {
        background-color: var(--primary-color);
        border-color: black;
        color: var(--background-color);
    }

    &:hover {
        background-color: var(--secondary-color);
        color: var(--background-color);
    }
}
