---
import Button from "./button.astro";

const commands = {
  clear: "Clear chart",
  rectangular: "Rectangular",
  ushaped: "U-shaped",
};
---

<div class="controls">
  {
    Object.entries(commands).map(([command, description], idx) => {
      const color = idx == 0 ? "grey" : "green";
      return (
        <Button variant="solid" color={color}>
          {description}
        </Button>
      );
    })
  }
</div>

<style>
  .controls {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }
</style>
