---
import Button from "./button.astro";

const commands = {
  clear: "Clear chart",
  rectangular: "Rectangular",
  ushaped: "U-shaped",
};
---

<div class="controls">
  {
    Object.entries(commands).map(([command, description], idx) => {
      const color = idx == 0 ? "grey" : "green";
      return (
        <command-button data-command={command}>
          <Button variant="solid" color={color}>
            {description}
          </Button>
        </command-button>
      );
    })
  }
</div>

<script>
  import { invoke } from "@tauri-apps/api";
  class CommandButton extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button");
      button?.addEventListener("click", () => {
        const command = this.dataset.command;
        invoke("run_command", { command: command || "" }).then((data) => {
          console.log("Promise returned", data);
        });
      });
    }
  }
  customElements.define("command-button", CommandButton);
</script>

<style>
  .controls {
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }
</style>
