---
import Layout from "@/layouts/Layout.astro";
import Controls from "@/components/controls.astro";
import Chart from "@/components/chart.astro";
---

<Layout title="Central Limit Theorem Demonstration">
  <main>
    <Chart />
    <Controls />
  </main>
</Layout>

<style>
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
